/* @start header-contact-bar */
$button-color: $black;
$button-secondary-color: $secondary-color;
.black-bar {
    $background-color: $black;
    $height: 1.8rem;
    background-color: $background-color;
  color: $white;
  height: $height;
  a {
    color: $white;
    padding: 0 11px;
    background-color: $background-color;
    display: inline-block;
    border-right: 1px solid rgba($white, 0.3);
    cursor: pointer;
    cursor: hand;
    font-size: 0.9rem;

    height: $height;
    line-height: 2.1rem;
  }
  .social {
    border-left: 1px solid rgba($white, 0.3);
    a.icon-link {
        padding: 0 8px;
    }
    a.icon-link:last-child {
        border-right: none;
    }
  } 

  .brightlight {
      font-weight: bold; 
      span.bright {
          color: #BEBF01;
      }
      span.light {
          color: $white;
      }   
  }
    /* Sweep To Top */
  a.effect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  a.effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  a.effect.facebook:before {
    background: $facebook;
  }
  a.effect.twitter:before {
    background: $twitter;
  }
  a.effect.youtube:before {
    background: $youtube;
  }
  a.effect.linkedin:before {
    background: $linkedin;
  }
  a.effect:hover, a.effect:focus, a.effect:active {
    color: $background-color;
  }
  a.effect.facebook:hover, a.effect.facebook:focus, a.effect.facebook:active, a.effect.twitter:hover, a.effect.twitter:focus, a.effect.twitter:active, a.effect.youtube:hover, a.effect.youtube:focus, a.effect.youtube:active, , a.effect.linkedin:hover, a.effect.linkedin:focus, a.effect.linkedin:active {
    color: $white;
  }
  a.hvr-sweep-to-right.brightlight:hover, a.hvr-sweep-to-right.brightlight:focus, a.hvr-sweep-to-right.brightlight:active {
    span.light {
      color: $background-color;
    }
  }
  a.effect:hover:before, a.effect:focus:before, a.effect:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }   
}

#header-links, #footer-links {
  display: none;
  a.icon-link {
    font-size: 1.3rem;
  }
}
@include breakpoint(large) {
  #header-links, #footer-links {
    display: block;
  }
}
#google-map {
  height: 400px;
  width: 100%;
  background-color: #C5C5C5;
  position: relative;
}
#google-map.hidden {
  height: 400px;
  position: absolute;
  left: -100%;
}
#close-map-wrapper {
  i {
    color: $button-color;
    font-size: 3rem;
    line-height: 2rem;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 60px;
    border-radius: 4px;
    z-index: 10000;
  }
  i:hover {
    background-color: $button-secondary-color;
  }
}
/* @end header-contact-bar */